<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <title>{{ title|default:"CS356" }}</title>
    <link rel="stylesheet"
          href="https://unpkg.com/material-components-web@latest/dist/material-components-web.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
      :root {
        --mdc-theme-primary: #990000;
        --mdc-theme-secondary: #ffcc00;
      }
      body {
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <header class="mdc-toolbar">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <!-- <a href="#" class="material-icons mdc-toolbar__icon--menu">menu</a> -->
          <span class="mdc-toolbar__title"><strong>{{ course_name }}</strong> {{ title }}</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Download" alt="Download">file_download</a>
          <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Print this page" alt="Print this page">print</a>
          <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Bookmark this page" alt="Bookmark this page">bookmark</a>
        </section>
      </div>
    </header>
    {% block content %}
    {% endblock %}
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.js"></script>
    <script>mdc.autoInit()</script>
  </body>
</html>
