[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[packages]

amqp = "==2.2.2"
billiard = "==3.5.0.3"
celery = "==4.1.0"
chardet = "==3.0.4"
django = "==1.11.5"
django-csvimport = "==2.11"
django-rest-framework = "==0.1.0"
djangorestframework = "==3.6.4"
kombu = "==4.1.0"
pytz = "==2017.2"
vine = "==1.1.4"
gitdb2 = "==2.0.2"
gitpython = "==2.1.5"
mypy = "==0.521"
pygithub = "==1.35"
pyjwt = "==1.5.3"
redis = "==2.10.6"
smmap2 = "==2.0.3"
typed-ast = "==1.0.4"
pytest = "*"
pytest-mock = "*"
pytest-django = "*"
coreapi = "*"
python-dateutil = "*"


