amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
chardet==3.0.4
Django==1.11.5
django-celery-results==1.0.1
django-csvimport==2.11
django-rest-framework==0.1.0
djangorestframework==3.6.4
gitdb2==2.0.2
GitPython==2.1.5
kombu==4.1.0
mypy==0.521
PyGithub==1.35
PyJWT==1.5.3
pytz==2017.2
redis==2.10.6
smmap2==2.0.3
typed-ast==1.0.4
vine==1.1.4
